<div>
  <div>
      <div class="search">
         <input type="text" class="searchTerm" placeholder="Search products" (keyup)="searchProduct($any($event).target.value)"> 
         <button type="submit" class="searchButton">
           <i class="fa fa-search"></i>
        </button>
   </div>
  </div>
<div>
  <div class="row">
    <div class="col-md-5">
    </div>
  </div>
    <ul style="display: inline-block" *ngFor="let product of listaprod">
      <li style="list-style: none">
        <app-productcard [producto]="product"></app-productcard>
        
        
      </li>
    </ul>
    <h2 *ngIf="listaprod == null || listaprod.length <= 0">
      Product not found..Sorry
    </h2>
  </div>
</div>
