<div class="register-container">
    <mat-card>
        <mat-card-content>
            <div class="titulo-centrado">
                <h1>REGISTER</h1>
            </div>
            <mat-form-field class="full-width-input separador">
                <input text="text" matInput placeholder="Correo" required /> <mat-icon> email</mat-icon>
            </mat-form-field>
            <mat-form-field class="full-width-input separador">
                <input text="text" matInput placeholder="Password" required /><mat-icon> vpn_key</mat-icon>
            </mat-form-field>
            <mat-form-field class="full-width-input separador">
                <input matInput placeholder="Password" required /><mat-icon> vpn_key</mat-icon>
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary">Register</button>
        </mat-card-content>
    </mat-card>
</div>