<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" opened="isExpanded">
    <mat-nav-list>
      <div>
        <h2 *ngIf="isExpanded" style="color: blue;">Carrito Express</h2>
      </div>

      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon mat-list-icon class="chevron-button" [ngClass]="{ rotated: isExpanded }">chevron_right
        </mat-icon>
      </mat-list-item>

      <mat-list-item  *ngFor="let item of listaTitulos">
        <a *ngIf="isExpanded" [routerLink]="item.url" mat-menu-item>{{item.titulo}}</a>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

 <mat-sidenav-content>
  <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
