<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" opened="isExpanded">
    <mat-nav-list>

      <mat-list-item (click)="isExpanded = !isExpanded">
        <mat-icon mat-list-icon class="chevron-button" [ngClass]="{ rotated: isExpanded }">chevron_right
        </mat-icon>
      </mat-list-item>

      <h2>Todas las categorias</h2>

      <mat-list-item >
        <span *ngIf="isExpanded" class="menu-item">Campañas y ofertas</span>
      </mat-list-item>

      <mat-list-item >
        <span *ngIf="isExpanded" class="menu-item">Informatica</span>
      </mat-list-item>

      <mat-list-item >
        <span *ngIf="isExpanded" class="menu-item">Gaming</span>
      </mat-list-item>

      <mat-list-item >
        <span *ngIf="isExpanded" class="menu-item">Accesorios de Informatica</span>
      </mat-list-item>

      <mat-list-item >
        <span *ngIf="isExpanded" class="menu-item">Telefonia</span>
      </mat-list-item>
      <mat-list-item >
        <span *ngIf="isExpanded" class="menu-item">Television</span>
      </mat-list-item>

      <mat-list-item >
        <span *ngIf="isExpanded" class="menu-item">Audio y HIFI</span>
      </mat-list-item>

      <mat-list-item >
        <span *ngIf="isExpanded" class="menu-item">Smart Home</span>
      </mat-list-item>


    </mat-nav-list>
  </mat-sidenav>

  <!-- Content - rendered Content for the current router path into the <router-outlet>, e.g. /dashboard or /info-->
  <mat-sidenav-content>
    <mat-toolbar>
      <h4>Hello everyone matt tool bar</h4>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
