mat-sidenav-container {
  height: 100%;
}

mat-sidenav-container >  mat-sidenav > mat-nav-list > menu-item {
      margin-left: 8px;
}

mat-sidenav-container >  mat-sidenav > mat-nav-list > chevron-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
}

mat-sidenav-container >  mat-sidenav > mat-nav-list > chevron-button > .rotated{
    transform: rotate(180deg);
}
