<footer class="page-footer"> 
    
    <div class="row">
        <div class="col">
            <img src="" alt="vhttps://www.google.com/imgres?imgurl=https%3A%2F%2Fimg2.freepng.es%2F20180324%2Fice%2Fkisspng-credit-card-visa-logo-mastercard-bank-mastercard-5ab6fe7d6dc528.9540152815219421414496.jpg&imgrefurl=https%3A%2F%2Fwww.freepng.es%2Fpng-mv3q6x%2F&tbnid=75DZqj79gXGItM&vet=12ahUKEwjs_eT2uqH4AhWZ04UKHZcOCboQMygBegUIARDBAQ..i&docid=WjWtox1aZbCOfM&w=900&h=600&q=imagen%20tarjeta%20visa%20png&client=safari&ved=2ahUKEwjs_eT2uqH4AhWZ04UKHZcOCboQMygBegUIARDBAQ" class="logo">
        </div>
    </div>
    
    <table>
        <tr>  
            <td> 
    <div class="pagos-icon">
        <h2>PAGO SEGURO CON </h2>
        <mat-icon>credit_card</mat-icon>
        <mat-icon>card_giftcard</mat-icon>
        
        
        
        
    
    </div>
    </td> 
    <td>
    <div class="envio-icon">
        <h2>ENVIO SEGURO CON</h2>
        <mat-icon> local_shipping</mat-icon>
        <mat-icon> local_post_office</mat-icon>
       
    
    </div>
    </td>
    
    </tr> 
    </table>
    
    
    
    <table>
    
        <tr>
            <td>
                <div class=" columna_1 ">
                    <h2>CONTACTO</h2>
                    <a href="#">Preguntas frecuentes</a>
                    <a href="#">Contacta con nosotros</a>
                    <a href="#">Formulario de contacto</a>
                </div>
            </td>
           <td>
            <div class="columna_2">
                <h2>NUESTRA EMPRESA</h2>
                <a href="#">¿Quiénes somos?</a>
                <a href="#">Trabaja con nosotros</a>
                <a href="#">Vender en mediamarkt.es</a>
                <a href="#">Encuentra tu tienda</a>
            </div>
           </td> 
           <td>
            <div class="columna_3">
                <h2>SERVICIOS</h2>
                <a href="#">Mejor precio garantizado</a>
                <a href="#">Tipos de envios</a>
                <a href="#">Instalaciones y servicios</a>
                <a href="#">Garantia plus</a>
            </div>
           </td>
           <td>
            <div class="columna_4">
                <h2>OFERTAS Y CAMPAÑAS</h2>
                <a href="#">Black Friday</a>
                <a href="#">Cyber Monday</a>
                <a href="#">Dia sin IVA</a>
                <a href="#">Rebajas</a>
                
            </div>
    
    
           </td>
        </tr>
        <tr>
            
        </tr>
    </table>
    
    </footer>
    
    
footer{
    width: 100%;
    padding: 100px 0 30px;
    background-color: #575555f3;
    background-size: cover;
    color: hsl(355, 14%, 85%);
    bottom: 0;
    position: absolute;
}
.contenido_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    flex-direction: column; 
    color: antiquewhite;  
}
.pagos-icon{
    
    flex-direction: column;
    padding: 40px;
    flex-direction:column;   

}
.pagos-icon img{
    width: 36px;
    height: 36px;
}

.envio-icon{
    
    flex-direction:column;
    padding: 40px;
    font-style: italic;
    flex-direction:column;  
     
}

.columna_1{
    display: flex;
    flex-direction:column;
    padding: 40px;
    
}
.columna_2{
    display: flex;
    flex-direction:column;
    padding: 40px;
}
.columna_3{
    display: flex;
    flex-direction:column;
    padding: 40px;
}
.columna_4{
    display: flex;
    flex-direction:column;
    padding: 40px;
    
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
col{
    flex-basis:25%;
    padding: 10px;
    }
    .logo{
    
    width: 80px;
    margin-bottom:30px;
    }

 a, a:link, a:visited, a:focus, a:hover, a:active{
        
        text-decoration:none; 
        
      }



    
