<ng-container *ngIf="true">
  <div class="container">
    <div>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th>Sr.No</th>
              <th>Product name</th>
              <th>Product image</th>
              <th>Description</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let prod of cartItem.products">
              <td>{{ prod.id }}</td>
              <td>{{ prod.name }}</td>
              <td><img class="tamano-img" [src]="prod.img" /></td>
              <td>{{prod.desc}}</td>
              <td>{{prod.price}}€</td>
              <td>{{prod.quantity}}</td>
              <td>{{prod.quantity* prod.price}}€</td>
              <td>
                <button (click)="quitarProducto()"  class="btn btn-danger">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div> <h1>Total: {{cartItem.totalprice -cartItem.tax}}</h1> </div>
      <div> <h1>IVA: {{ cartItem.tax}}</h1> </div>
      <div> <h1>Total a pagar: {{cartItem.totalprice}}</h1> </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="false">
  <div class="container">
    <div class="card">
      <h5 class="card-title">My Cart</h5>
    </div>
    <div class="center">
      <img
        src="https://www.eventsqed.com/Images/empty-cart-icon-min.png"
        alt=""
      />
      <h4>Your Cart is empty¡</h4>
      <h6>Add item toi it now</h6>
      <button class="btn btn-primary">Shop now</button>
    </div>
  </div>
</ng-container>
